* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bdr {
  border: 1px solid red;
}
.tags-container {
  width: 400px;
  min-height: 50px;
  padding: 8px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.tags-container span {
  background-color: #edf2f7;
  border-radius: 0.375rem;
  height: 30px;
}
.highlight {
  background-color: #8fb9ec !important;
}
input {
  height: 30px;
  min-width: 100px;
  padding-left: 10px;
  flex-grow: 1;
}
